body {
  background-color: honeydew;
}

.search-bar-container {
  display: flex;
  position: relative;
  min-width: 100px;
}

.search-bar {
  border: 1px solid grey;
  border-radius: 5px;
  width: 80%;
  height: 22px;
  outline: 0;
}

.search-bar:hover, .search-bar:focus {
  border: 1.5px solid #098
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.description-container {
  display: flex;
}

.description-container .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.results-grid {
  display: flex;
  flex-direction: column;
}

.results-row {
  display: flex;
  justify-content: space-around;
}
